// Welcome back!
color: #545454;
 font-size: 16px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Register
color: #545454;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Login
color: black;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Log in
color: white;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Email
color: #AAAAAA;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Password
color: #AAAAAA;
 font-size: 12px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word
---
// Food
color: #396C03;
 font-size: 28.34px;
 font-family: Merienda;
 font-weight: 700;
 line-height: 45.35px;
 word-wrap: break-word
---
// Time
color: #396C03;
 font-size: 28.34px;
 font-family: Poppins;
 font-weight: 500;
 line-height: 45.35px;
 word-wrap: break-word