@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,600;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --sp-03: Poppins;
  --font-merienda: Merienda;
  --font-inter: Inter;

  /* font sizes */
  --font-size-8xl: 27px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-4xl: 23px;
  --sp-03-size: 18px;
  --font-size-9xl-3: 28.3px;
  --bt-01-size: 22px;
  --font-size-9xl: 28px;
  --font-size-29xl: 48px;
  --font-size-base: 16px;

  /* Colors */
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --color-white: #fff;
  --color-darkgray: #aaa;
  --color-mediumseagreen-100: #40cc6f;
  --balck-basic: #3f3f3f;
  --primary-c: #396c03;
  --color-darkgreen-100: #315d02;
  --color-darkgreen-200: rgba(57, 108, 3, 0.71);
  --color-whitesmoke: #eaeaea;
  --color-gray: rgba(0, 0, 0, 0.53);
  --color-darkolivegreen: #274b01;
  --color-lightgreen: #8ce7a0;
  --color-dimgray: #545454;
  --color-rosybrown: #ae6767;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-3xs: 10px;
  --padding-12xl: 31px;
  --padding-xl: 20px;
  --padding-10xs: 3px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-17xl: 36px;
  --br-10xs: 3px;
  --br-5xs: 8px;
  --br-10xl: 29px;
  --br-3xs: 10px;
  --br-mini: 15px;
  --br-xs: 12px;
  --br-9xl: 28px;
  --br-3xl: 22px;
}
