.bgoverlay1,
.katie-smith-uqs1802d0cq-unspla-icon1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.katie-smith-uqs1802d0cq-unspla-icon1 {
  height: calc(100% - 1.2px);
  top: 1.2px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bgoverlay1 {
  height: 100%;
  top: 0;
  background-color: var(--color-gray);
  backdrop-filter: blur(10px);
}
.deskbg1 {
  position: absolute;
  height: calc(100% + 173px);
  width: calc(100% + 818px);
  top: -81px;
  right: -410px;
  bottom: -92px;
  left: -408px;
}
.frame-inner,
.mainwindow1,
.rectangle-div {
  position: absolute;
  border-radius: var(--br-3xs);
}
.mainwindow1 {
  top: calc(50% - 361.5px);
  left: calc(50% - 552px);
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 1104px;
  height: 723px;
}
.frame-inner,
.rectangle-div {
  top: 32px;
  left: 740px;
  background-color: var(--color-gainsboro);
  width: 121px;
  height: 55px;
}
.rectangle-div {
  top: 0.2px;
  left: 0.5px;
  width: 1102px;
  height: 640px;
}
.div,
.hvhozzaadas {
  height: 54px;
  display: flex;
  justify-content: center;
}
.div {
  position: relative;
  align-items: flex-end;
  width: 53px;
  flex-shrink: 0;
}
.hvhozzaadas {
  position: absolute;
  top: 215px;
  left: 500px;
  border-radius: var(--br-mini);
  background-color: var(--color-mediumseagreen-100);
  width: 54px;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
}
.nyilvnos {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 131px;
  height: 28.9px;
  flex-shrink: 0;
}
.circle-inner {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lightgreen);
  width: 24px;
  height: 24px;
}
.circle2,
.nyilvnos-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.circle2 {
  border-radius: var(--br-81xl);
  background-color: var(--color-white);
  border: 2px solid var(--color-lightgreen);
  padding: var(--padding-8xs);
}
.nyilvnos-parent {
  position: absolute;
  top: 28px;
  left: 724px;
  gap: var(--gap-mini);
  font-size: var(--font-size-5xl);
  font-family: var(--sp-03);
}
.elkszts {
  position: absolute;
  top: 102px;
  left: 614px;
}
.recept-neve {
  position: relative;
}
.recept-neve-parent {
  position: absolute;
  top: 97px;
  left: 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 30px;
  text-align: right;
}
.frame-child1,
.frame-child2 {
  position: absolute;
  top: 89px;
  left: 245px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 309px;
  height: 51px;
}
.frame-child2 {
  top: 153px;
}
.adagszam,
.receptnev {
  left: 250px;
  display: flex;
  align-items: center;
  width: 298px;
}
.receptnev {
  position: absolute;
  top: 89px;
  height: 51px;
}
.adagszam {
  top: 153px;
}
.adagszam,
.group-child,
.hozzavalo {
  position: absolute;
  height: 51px;
}
.group-child {
  top: 1px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 328px;
}
.hozzavalo {
  top: 0;
  left: 5px;
  display: flex;
  align-items: center;
  width: 317px;
}
.rectangle-group {
  position: relative;
  width: 328px;
  height: 52px;
}
.group-item,
.mnnysg {
  position: absolute;
  height: 51px;
}
.group-item {
  top: 1px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 112px;
}
.mnnysg {
  top: 0;
  left: 1.8px;
  display: flex;
  align-items: center;
  width: 108px;
}
.rectangle-container {
  position: relative;
  width: 112px;
  height: 52px;
}
.group-inner,
.mrtg {
  position: absolute;
  height: 51px;
}
.group-inner {
  top: 1px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 74px;
}
.mrtg {
  top: 0;
  left: 1.2px;
  display: flex;
  align-items: center;
  width: 71.4px;
}
.group-div {
  position: relative;
  width: 74px;
  height: 52px;
}
.hozzavalosor {
  position: absolute;
  top: 285px;
  left: 25px;
  width: 544px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.rectangle-icon {
  position: relative;
  border-radius: var(--br-3xs);
  width: 454px;
  height: 468px;
  z-index: 0;
}
.szoveg,
.vector-parent {
  position: absolute;
  height: 468px;
}
.szoveg {
  margin: 0 !important;
  top: 0;
  left: 9px;
  display: inline-block;
  width: 435px;
  flex-shrink: 0;
  z-index: 1;
}
.vector-parent {
  top: 140px;
  left: 614px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--color-white);
}
.feltlts {
  position: relative;
  line-height: 170%;
  font-weight: 500;
  transform: rotate(0.88deg);
  transform-origin: 0 0;
}
.feltlts-wrapper,
.recept-feltltse {
  position: absolute;
  font-family: var(--sp-03);
}
.feltlts-wrapper {
  top: 25px;
  left: 948px;
  border-radius: var(--br-81xl);
  background-color: var(--color-darkolivegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-bottom: 2px solid var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px var(--padding-xl);
  font-size: var(--bt-01-size);
  color: var(--color-white);
}
.recept-feltltse {
  top: 10px;
  left: 57px;
  font-size: 36px;
  line-height: 200%;
  font-weight: 600;
}
.rectangle-parent {
  position: absolute;
  top: 81px;
  left: calc(50% - 551px);
  width: 1102px;
  height: 640px;
  overflow: hidden;
}
.time1 {
  font-weight: 500;
  font-family: var(--sp-03);
}
.foodtime1 {
  position: relative;
  line-height: 160%;
}
.logo1 {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.kaltab1,
.receptek1 {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  height: 43px;
  flex-shrink: 0;
  cursor: pointer;
}
.receptek1 {
  display: flex;
  align-items: flex-end;
  width: 85px;
}
.kaltab1 {
  width: 140px;
}
.feltoltes2,
.kaltab1,
.menu1 {
  display: flex;
  align-items: flex-end;
}
.feltoltes2 {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  width: 76px;
  height: 43px;
  flex-shrink: 0;
}
.menu1 {
  width: 466px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--sp-03-size);
  color: var(--balck-basic);
  font-family: var(--sp-03);
}
.instance-item {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
.logo-group {
  position: absolute;
  height: 7.63%;
  top: 2.08%;
  bottom: 90.29%;
  left: calc(50% - 525px);
  width: 1050px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 28.34px;
  color: var(--primary-c);
  font-family: var(--font-merienda);
}
.deskbg-parent {
  position: absolute;
  top: calc(50% - 361px);
  left: calc(50% - 551px);
  width: 1102px;
  height: 721px;
}
.feltoltes1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 884px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
