.katie-smith-uqs1802d0cq-unspla-icon {
  position: absolute;
  top: 1.2px;
  left: 0;
  width: 1366px;
  height: 882.8px;
  object-fit: cover;
}
.bgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray);
  backdrop-filter: blur(10px);
  width: 1366px;
  height: 884px;
}
.frame-child,
.mainwindow {
  position: absolute;
  left: -1px;
  border-radius: var(--br-3xs);
  width: 1102px;
}
.mainwindow {
  top: -1px;
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  height: 722px;
}
.frame-child {
  top: 80.8px;
  background-color: var(--color-gainsboro);
  height: 640px;
}
.felhasznlsfelulet-child {
  position: absolute;
  top: 0;
  left: calc(50% - 384.5px);
  border-radius: var(--br-10xl);
  background-color: var(--color-darkgreen-200);
  width: 769px;
  height: 175px;
}
.e-mail-cm,
.felhasznlnv {
  position: relative;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  width: 227px;
}
.e-mail-cm {
  width: 155px;
}
.felhasznlnv-parent {
  position: absolute;
  top: 34px;
  left: calc(50% - 169.5px);
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro);
  width: 513px;
  height: 107px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-12xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  mix-blend-mode: linear-burn;
}
.felhasznlsfelulet {
  position: absolute;
  top: 94px;
  left: calc(50% - 384px);
  width: 769px;
  height: 175px;
}
.kaltab,
.receptek {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  height: 43px;
  flex-shrink: 0;
  cursor: pointer;
}
.receptek {
  display: flex;
  align-items: flex-end;
  width: 85px;
}
.kaltab {
  width: 140px;
}
.feltoltes,
.kaltab,
.menu {
  display: flex;
  align-items: flex-end;
}
.feltoltes {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  width: 76px;
  height: 43px;
  flex-shrink: 0;
  cursor: pointer;
}
.menu {
  position: absolute;
  top: 38px;
  left: 469px;
  width: 400px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--sp-03-size);
  color: var(--balck-basic);
  font-family: var(--sp-03);
}
.component-33-child,
.rgi-jelsz {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.component-33-child {
  right: 0;
  bottom: 0;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rgi-jelsz {
  font-weight: 500;
  display: flex;
  align-items: center;
}
.component-33 {
  position: absolute;
  top: 335px;
  left: 204px;
  width: 265px;
  height: 51px;
  text-align: right;
  font-size: var(--font-size-8xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.mainwindow-parent {
  position: relative;
  width: 1102px;
  height: 720px;
  z-index: 0;
}
.time {
  font-weight: 500;
  font-family: var(--sp-03);
}
.foodtime {
  position: relative;
  line-height: 160%;
}
.logo,
.prof1-icon {
  position: absolute;
  margin: 0 !important;
}
.logo {
  top: 5.6px;
  left: 68px;
  width: 156px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
  color: var(--primary-c);
  font-family: var(--font-merienda);
}
.prof1-icon {
  top: 139px;
  left: 224px;
  width: 85px;
  height: 85px;
  z-index: 2;
}
.appwindow {
  position: absolute;
  top: calc(50% - 359px);
  left: calc(50% - 551px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.window {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 884px;
}
.felhasznlsfelulet1 {
  position: absolute;
  top: 94px;
  left: calc(50% - 384px);
  width: 769px;
  height: 175px;
  text-align: left;
  font-size: 28.34px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.component-33-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.component-331,
.component-34,
.component-35 {
  position: absolute;
  top: 358px;
  left: 211px;
  width: 309px;
  height: 51px;
}
.component-34,
.component-35 {
  top: 532px;
}
.component-34 {
  top: 445px;
}
.frame-child1,
.frame-inner,
.rectangle-div {
  position: absolute;
  top: 358px;
  left: 582px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 309px;
  height: 51px;
}
.frame-child1,
.rectangle-div {
  top: 445px;
}
.frame-child1 {
  top: 532px;
}
.logo1,
.menu1 {
  display: flex;
  flex-direction: row;
}
.logo1 {
  height: 55px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.menu1 {
  width: 466px;
  align-items: flex-end;
  justify-content: space-between;
  font-size: var(--sp-03-size);
  color: var(--balck-basic);
  font-family: var(--sp-03);
}
.instance-child {
  position: relative;
  width: 48px;
  height: 48px;
  display: none;
}
.logo-parent {
  position: absolute;
  height: 7.64%;
  width: 79.85%;
  top: 1.53%;
  right: 17.79%;
  bottom: 90.83%;
  left: 2.36%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  text-align: left;
  font-size: 28.34px;
  color: var(--primary-c);
  font-family: var(--font-merienda);
}
.prof1-icon1 {
  position: absolute;
  margin: 0 !important;
  top: 139px;
  left: 224px;
  width: 85px;
  height: 85px;
  z-index: 1;
}
.window1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 884px;
  text-align: right;
  font-size: var(--font-size-8xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.changepw {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 884px;
  overflow: hidden;
  text-align: left;
  font-size: 28.34px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
