.katie-smith-uqs1802d0cq-unspla-icon6 {
  position: absolute;
  top: 1.2px;
  left: 0;
  width: 1366px;
  height: 882.8px;
  object-fit: cover;
}
.bgoverlay6 {
  background-color: var(--color-gray);
  backdrop-filter: blur(10px);
}
.bgoverlay6,
.deskbg6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 884px;
}
.mainwindow6 {
  top: -1px;
  background-color: var(--color-white);
  border: 1px solid var(--color-whitesmoke);
  box-sizing: border-box;
  width: 1102px;
  height: 722px;
}
.appwindow-inner,
.frame-child9,
.mainwindow6 {
  position: absolute;
  left: 0;
  border-radius: var(--br-3xs);
}
.frame-child9 {
  height: 146.73%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -46.73%;
  background-color: var(--color-gainsboro);
}
.appwindow-inner {
  top: 100px;
  width: 1102px;
  height: 620px;
  overflow: hidden;
}
.kedvenc-receptjeim {
  position: relative;
  line-height: 200%;
  font-weight: 600;
}
.kedvenc-receptjeim-wrapper {
  position: absolute;
  top: 124px;
  left: 61px;
  border-radius: var(--br-xs);
  background-color: var(--color-darkolivegreen);
  width: 273px;
  height: 58px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.rec-card-child6,
.rec-card-child7 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: var(--br-mini);
}
.rec-card-child6 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.45);
}
.rec-card-child7 {
  height: 72.84%;
  bottom: 27.16%;
  background-color: var(--color-gainsboro);
}
.recept-neve5 {
  position: absolute;
  height: 25.56%;
  width: 96.54%;
  top: 72.84%;
  left: 1.73%;
  line-height: 200%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rec-card4 {
  height: 43.47%;
  width: 26.23%;
  top: 28.19%;
  right: 37.39%;
  bottom: 28.33%;
  left: 36.39%;
}
.rec-card4,
.rec-card5,
.rec-card6 {
  position: absolute;
  cursor: pointer;
}
.rec-card5 {
  height: 43.47%;
  width: 26.23%;
  top: 28.19%;
  right: 6.53%;
  bottom: 28.33%;
  left: 67.24%;
}
.rec-card6 {
  top: 203px;
  left: 61px;
  width: 289px;
  height: 313px;
}
.appwindow6 {
  position: absolute;
  top: 83px;
  left: 132px;
  width: 1102px;
  height: 720px;
}
.time6 {
  font-weight: 500;
  font-family: var(--sp-03);
}
.foodtime6 {
  position: relative;
  line-height: 160%;
}
.logo6 {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.kaltab5,
.receptek6 {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  height: 43px;
  flex-shrink: 0;
  cursor: pointer;
}
.receptek6 {
  display: flex;
  align-items: flex-end;
  width: 85px;
}
.kaltab5 {
  width: 140px;
}
.feltoltes6,
.kaltab5,
.menu7 {
  display: flex;
  align-items: flex-end;
}
.feltoltes6 {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  width: 76px;
  height: 43px;
  flex-shrink: 0;
  cursor: pointer;
}
.menu7 {
  width: 466px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--sp-03-size);
  color: var(--balck-basic);
  font-family: var(--sp-03);
}
.instance-child2 {
  position: relative;
  width: 48px;
  height: 48px;
}
.logo-parent1 {
  position: absolute;
  height: 6.22%;
  width: 76.87%;
  top: 12.33%;
  right: 11.64%;
  bottom: 81.45%;
  left: 11.49%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  text-align: left;
  font-size: 28.34px;
  color: var(--primary-c);
  font-family: var(--font-merienda);
}
.kedvencreceptek {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 884px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-dimgray);
  font-family: var(--sp-03);
}
