.sign-in {
  position: relative;
  font-weight: 900;
}
.sign-in-wrapper {
  position: absolute;
  top: 105px;
  left: 116px;
  border-radius: var(--br-17xl);
  background-color: var(--primary-c);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25),
    0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-bottom: 2px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px 61px;
  text-align: center;
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.prof0-icon,
.prof1-icon1 {
  position: absolute;
  top: 173px;
  left: 906px;
  width: 48px;
  height: 48px;
}
.prof0-icon {
  top: 103px;
}
.time11 {
  font-weight: 500;
  font-family: var(--sp-03);
}
.foodtime11 {
  position: relative;
  line-height: 160%;
}
.logo11 {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.kaltab9,
.receptek10 {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  height: 43px;
  flex-shrink: 0;
  cursor: pointer;
}
.receptek10 {
  display: flex;
  align-items: flex-end;
  width: 85px;
}
.kaltab9 {
  width: 140px;
}
.feltoltes10,
.kaltab9,
.menu9 {
  display: flex;
  align-items: flex-end;
}
.feltoltes10 {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  width: 76px;
  height: 43px;
  flex-shrink: 0;
  cursor: pointer;
}
.menu9 {
  width: 466px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--sp-03-size);
  color: var(--balck-basic);
  font-family: var(--sp-03);
}
.component-child {
  position: relative;
  width: 48px;
  height: 48px;
}
.logo-parent6 {
  position: absolute;
  top: 418px;
  left: 271px;
  width: 816px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-family: var(--font-merienda);
}
.searchoutline-icon1 {
  position: absolute;
  top: 9.5px;
  left: 15.7px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.search1 {
  position: absolute;
  top: 2.4px;
  left: 48.3px;
  line-height: 170%;
  font-weight: 500;
  transform: rotate(0.88deg);
  transform-origin: 0 0;
}
.searchoutline-group {
  position: absolute;
  top: 675px;
  left: 184px;
  border-radius: var(--br-81xl);
  background-color: var(--primary-c);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-bottom: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 142px;
  height: 44px;
  font-size: var(--bt-01-size);
  color: var(--color-white);
}
.component-item {
  position: relative;
  border-radius: var(--br-9xl);
  width: 374px;
  height: 181px;
  object-fit: cover;
  z-index: 0;
}
.kedvenc-receptek3,
.rectangle-parent7 {
  position: absolute;
  height: 181px;
  display: flex;
}
.kedvenc-receptek3 {
  margin: 0 !important;
  top: 0;
  left: 6px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  width: 368px;
  flex-shrink: 0;
  backdrop-filter: blur(40px);
  z-index: 1;
}
.rectangle-parent7 {
  top: 800px;
  left: 564px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 374px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.component-3-child {
  position: absolute;
  top: calc(50% - 66px);
  left: calc(50% - 154px);
  border-radius: var(--br-3xl);
  width: 308px;
  height: 132px;
  object-fit: cover;
}
.kategria24 {
  position: absolute;
  height: 100%;
  width: 96.43%;
  top: 0;
  left: 1.95%;
  line-height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  -webkit-text-stroke: 3px #fff;
}
.component-3 {
  position: absolute;
  top: 734px;
  left: 151px;
  width: 308px;
  height: 132px;
  text-align: center;
  font-size: var(--font-size-4xl);
  color: var(--color-darkolivegreen);
}
.kaltab10,
.receptek11 {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  height: 43px;
  flex-shrink: 0;
}
.receptek11 {
  display: flex;
  align-items: flex-end;
  width: 85px;
}
.kaltab10 {
  width: 140px;
}
.feltoltes11,
.kaltab10,
.menu10 {
  display: flex;
  align-items: flex-end;
}
.feltoltes11 {
  position: relative;
  line-height: 200%;
  font-weight: 500;
  width: 76px;
  height: 43px;
  flex-shrink: 0;
}
.menu10 {
  position: absolute;
  top: 602px;
  left: 642px;
  width: 466px;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--sp-03-size);
  color: var(--balck-basic);
}
.accessories-child {
  position: absolute;
  top: 260px;
  left: 919px;
  width: 48px;
  height: 48px;
}
.logo12 {
  position: absolute;
  top: 602px;
  left: 221px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-family: var(--font-merienda);
}
.accessories {
  position: relative;
  background-color: #d0d7bd;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 28.34px;
  color: var(--primary-c);
  font-family: var(--sp-03);
}
